[Unit]
Description=HAProxy Reload
Requires=haproxy.service
After=network.target
Wants=network.target

[Service]
ExecStartPre=/usr/bin/update-haproxy-config
ExecStart=/usr/bin/systemctl restart haproxy

[Install]
WantedBy=multi-user.target
